<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Phishing Classifier</title>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="index-body">

  <div class="index-container">
    <h1>Phishing Website Classifier</h1>

    <div>
      <a href="/predict">
        <button class="index-btn">Predict</button>
      </a>

      <a href="/train">
        <button class="index-btn train">Train Model</button>
      </a>
    </div>
  </div>

</body>
</html>
